<label for="sdn-type">SDN Type</label>
{{view Ember.Select
  content=sdnTypeList
  value=value
  optionValuePath="content.value"
  optionLabelPath="content.text"
  id="sdn-type"
  class="pure-input-1"}}
