@import 'side-menu';
@import 'search-form';

a {
  color: #3b8bba;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#search-results {
  table {
    td {
      vertical-align: top;
    }
    ol {
      margin: 0;
      padding-left: 20px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
    }
  }
}

.pages {
  margin-top: 1rem;
}

#loader {
  width: 56px;
  display: block;
  margin: 3rem auto 0;
}
